/* @import url("./fonts/AILERONS-TYPEFACE.OTF"); */
/* @font-face {
  font-family: "Ailerons";
  src: url("./fonts/AILERONS-TYPEFACE.OTF");
} */
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");
body {
  margin: 0;
  overflow: hidden;
  /* font-family: "Ailerons", sans-serif; */
  /* font-family: "Syncopate", sans-serif; */
  /* background-image: url("./bg.png");
   */
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: screen;
  height: screen;
}

.gif {
  background: url("./animated.gif");
  width: 100%;
  height: 748px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  mix-blend-mode: lighten;

  @media all and (max-width: 768px) {
    height: 70%;
  }
}

.it-club-logo {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}

.release-date {
  top: 0;
  z-index: 10;
  color: rgb(48, 214, 243);
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
}

.release {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 25rem;
}

.main {
  height: 100vh;
  width: 100vw;
  /* overlay */
  background: rgba(0, 0, 0, 0.7);
}

#container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.it-logo {
  margin-top: 40px;
  width: 400px;

  @media all and (max-width: 768px) {
    width: 300px;
  }
}

#message {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 8%;
}

.container {
  color: white;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (min-width: 1000px) {
    top: 30%;
    left: 55%;
  }
}

.coming-soon {
  position: absolute;
  top: 80%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 32px;
  font-style: bold;
  font-weight: 400;
  line-height: 40px; /* 125% */
  letter-spacing: 5.48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media all and (min-width: 768px) {
    /* display: none; */
    font-size: 64px;
    font-weight: 700;
    top: 80%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;

  @media all and (max-width: 768px) {
    font-size: 2.5em;
  }
}

li span {
  display: block;
  font-size: 4.5rem;
  font-weight: 700;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(12.5rem);
  }

  li {
    font-size: calc(1.125rem);
  }

  li span {
    font-size: calc(3.375rem);
  }

  @media all and (max-width: 768px) {
    li {
      font-size: calc(1.125rem);
    }

    li span {
      font-size: calc(1.775rem);
    }
  }
}

.ict-logo {
  width: 200px;

  display: block;

  @media all and (max-width: 768px) {
    display: none;
    width: 150px;
  }
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 1000;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 1000;
}

a {
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;

  @media all and (min-width: 768px) {
    font-size: 24px;
    justify-content: flex-end;
    gap: 2rem;
  }
}
